/Users/eidan/Desktop/AMap_iOS_Navi_Lib_V6.4.0.zip filter=lfs diff=lfs merge=lfs -text
/Users/eidan/Desktop/offical_demo/iOS_SDK_Dynamic/AMap_iOS_Navi_Lib_V6.4.0.zip filter=lfs diff=lfs merge=lfs -text
